<a href="https://colab.research.google.com/github/BrunoBento8/Python-DA/blob/main/Python_DA_Chapter_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Frist:**

> In this chapter is used the librery Pandas for Reading and Writing Data in files as: CSV, TXT, HTML, XML, EXCEL and JSON

_____________________________________________________________________________________________________

# CSV

In [ ]:
%%writefile myCSV_01.csv

white,red,blue,green,animal
1,5,2,3,cat
2,7,8,5,dog
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1, mouse

Writing myCSV_01.csv

In [ ]:
import pandas as pd # If you're goind to read the book, in the chapter this is expected to be done

In [ ]:
csvframe = pd.read_csv('myCSV_01.csv')

In [ ]:
csvframe

   white  red  blue  green  animal
0      1    5     2      3     cat
1      2    7     8      5     dog
2      3    3     6      7   horse
3      2    2     8      3    duck
4      4    4     2      1   mouse

"CSV files are tabulated data in which the values on the same column are separated by commas. But since CSV files are considered text files, you can also use the read_table() function, but specifying the delimiter"

In [ ]:
pd.read_table('myCSV_01.csv', sep=',')

   white  red  blue  green  animal
0      1    5     2      3     cat
1      2    7     8      5     dog
2      3    3     6      7   horse
3      2    2     8      3    duck
4      4    4     2      1   mouse

In cases when the file there isn't headers as:

In [ ]:
%%writefile myCSV_02.csv

1,5,2,3,cat
2,7,8,5,dog
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1, mouse

Overwriting myCSV_02.csv

In [ ]:
pd.read_csv('myCSV_02.csv')

   1  5  2  3     cat
0  2  7  8  5     dog
1  3  3  6  7   horse
2  2  2  8  3    duck
3  4  4  2  1   mouse

In [ ]:
pd.read_csv('myCSV_02.csv', header=None) #using pandas to assing default nomes to the columns

   0  1  2  3       4
0  1  5  2  3     cat
1  2  7  8  5     dog
2  3  3  6  7   horse
3  2  2  8  3    duck
4  4  4  2  1   mouse

In [ ]:
#writing columns names

pd.read_csv('myCSV_02.csv', names=['white','red','blue', 'green', 'animal'])

   white  red  blue  green  animal
0      1    5     2      3     cat
1      2    7     8      5     dog
2      3    3     6      7   horse
3      2    2     8      3    duck
4      4    4     2      1   mouse

In [ ]:
%%writefile myCSV_03.csv

color,status,item1,item2,item3
black,up,3,4,6
black,down,2,6,7
white,up,5,5,5
white,down,3,3,2
white,left,1,2,1
red,up,2,2,2
red,down,1,1,4

Writing myCSV_03.csv

In [ ]:
pd.read_csv('myCSV_03.csv', index_col=['color','status'])

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4

# TXT

TXT files can containg separators that are not well defined, for this cases we can use de RegExp.

See the table of metacharacters:


* .  single character, except newline
* \d digit
* \D non-digit character
* \s whitespace character
* \S non-whitespace character
* \n new line character
* \t tab character
* \uxxxx unicode character specified by the hexadecimal number xxxx

In [ ]:
import re #to import regexp
import pandas as pd

In [ ]:
%%writefile ch05_04.txt
white red blue green
1 5 2 3
2 7 8 5
3 3 6 7

Overwriting ch05_04.txt

In [ ]:
pd.read_table('ch05_04.txt', sep='\s')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [ ]:
%%writefile ch05_05.txt
000END123AAA122
001END124BBB321
002END125CCC333

Overwriting ch05_05.txt

In [ ]:
#header option set to None whenever the column headings are not present in the TXT file
#for this is used 'keep_default_na= false' or 'na_filter=False' to values 'NaN' not be shown
pd.read_table('ch05_05.txt', sep='\D', header=None, na_filter=False)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   0 1 2    3 4 5    6
0  0      123      122
1  1      124      321
2  2      125      333

In [ ]:
%%writefile ch05_06.txt
########### LOG FILE ############
This file has been generated by automatic system
white,red,blue,green,animal
12-Feb-2015: Counting of animals inside the house
1,5,2,3,cat
2,7,8,5,dog
13-Feb-2015: Counting of animals outside the house
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1,mouse

Overwriting ch05_06.txt

In [ ]:
pd.read_table('ch05_06.txt', sep=',', skiprows=[0,1,3,6])

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [ ]:
#With 'nrows' and 'skiprows' options, you can select the starting line n (n = SkipRows) and the lines to be read after it (nrows = i)

pd.read_csv('myCSV_02.csv', skiprows=[2], nrows=3, header=None)

   0  1  2  3      4
0  1  5  2  3    cat
1  3  3  6  7  horse
2  2  2  8  3   duck

In [ ]:
out = pd.Series()
i = 0
pieces = pd.read_csv('myCSV_01.csv', chunksize=3)

for piece in pieces:
  out.at[i, piece['white'].sum()] #From the book this line is: out.set_value(i,piece['white'].sum()) || "set_value" is Deprecated since version 0.21.0: Use .at[] or .iat[] accessors instead.
  i += 1

# HTML

In [4]:
import pandas as pd

ranking = pd.read_html('http://www.meccanismocomplesso.org/en/meccanismo-complesso-sito-2/classifica-punteggio/')
print(ranking[0])

     Unnamed: 0        Member  Points  Levels
0             1   BrunoOrsini    2075     NaN
1             2     Berserker     700     NaN
2             3  albertosallu     275     NaN
3             4           Jon     180     NaN
4             5          Mr.Y     180     NaN
..          ...           ...     ...     ...
110         111  Gigi Bertana       5     NaN
111         112       p.barut       5     NaN
112         113  Indri4Africa       5     NaN
113         114     ghirograf       5     NaN
114         115  Marco Corbet       5     NaN

[115 rows x 4 columns]